//
// Portfolio Page Styles
//
.portfolio-header {
	height: 300px;

	display: grid;
	background: $info-transparent;
	grid-template: 'container';
	place-items: center;
	place-content: center;
	overflow: hidden;

	& > * {
		grid-area: container;
	}

	.hero-image {
		height: auto;
		aspect-ratio: 16/5;
		object-fit: cover;
		position: relative;
		z-index: -1;
	}

	h1,
	p {
		text-shadow: 0rem 0rem 2rem $info-transparent;
	}
}

//set height on header for large screens
@include media-breakpoint-up(lg) {
	.portfolio-header {
		height: 600px;
		&:before {
			height: 600px;
		}
	}
}

//apply .lead styling to all p tags
.portfolio_start p {
	@extend .lead;
}

.featurette {
	//swap order of text & image on every other featurette
	&:nth-of-type(even) {
		.col-text {
			@extend .order-md-1;
		}
		.col-img {
			@extend .order-md-2;
		}
	}

	&:nth-of-type(odd) {
		.col-text {
			@extend .order-md-2;
		}
		.col-img {
			@extend .order-md-1;
		}
	}
}
