// Typography

//
//Headings
//

@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/PlayfairDisplay.woff2') format('woff2-variations');
	font-weight: 400 900;
	font-display: swap;
}

$headings-font-family: 'Playfair Display', Georgia, serif !important;
$headings-font-weight: 700;
$display-font-weight: null;

//
//Body text
//

//Regular
@font-face {
	font-family: Montserrat;
	src: url('../fonts/Montserrat.woff2') format('woff2-variations');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

//Italic
@font-face {
	font-family: Montserrat;
	src: url('../fonts/Montserrat-Italic.woff2') format('woff2-variations');
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}

$font-family-base: 'Montserrat', Helvetica, Arial, sans-serif !important;
$font-family-sans-serif: 'Montserrat', Helvetica, Arial, sans-serif !important;
$font-size-root: 1rem;
$spacer: 1rem;

$h1-font-size: $font-size-root * 2.25;
$h2-font-size: $font-size-root * 2;
$h3-font-size: $font-size-root * 1.75;
$h4-font-size: $font-size-root * 1.5;
$h5-font-size: $font-size-root * 1.25;

$headings-margin-bottom: $spacer * 2;
