//
//  Footer
//
footer {
	background-color: $gray-900 !important;
	color: $gray-100;

	p {font-size: 0.8rem;}

	a {
		text-decoration: none;

		&:hover { opacity: 0.5; }

		i {
			margin:0;
			padding:0;
		}
	}
}