//
// Header and NavBar Styling
//

//set header height and main margin the same
header {
	height: ($spacer * 4);
	position: relative;
}

main,
.portfolio-header {
	margin-top: ($spacer * 4);
}

//Skip Link Styling
#skipNav {
	height: 2.625rem;
	margin-top: -2.625rem;
	transition: margin-top 325ms ease-in;
}

#skipNav:focus-within {
	margin-top: 0rem;
}

//Navigation items
.nav-item {
	padding: 0 ($spacer * 2);
}

a[aria-current='page'] {
	@extend .text-muted;
}

// allows for header nav on jump links
.anchor {
	text-decoration: none;
	&:before {
		content: '';
		display: block;
		position: relative;
		height: ($spacer * 4);
		margin-top: -($spacer * 3.5);
	}
}

/* Fancy Navigation button */
.btn-nav-fancy {
	overflow: hidden;

	.hamburger {
		--button-color: var(--bs-navbar-color);
		transition: translate 1s, rotate 1s;
		background: none;
	}

	.line {
		transition: 1s;
		stroke-dasharray: 60 31 60 300;
	}

	&[aria-expanded='true'] {
		.hamburger {
			translate: 2px -3px;
			rotate: 0.125turn;
		}
		.line {
			stroke-dasharray: 60 105 60 300;
			stroke-dashoffset: -90;
		}
	}
}
