//
// Header and NavBar Styling
//

//set header height and main margin the same
header {
	height: ($spacer * 4);
	position: relative;
}
main,
.portfolio-header {
	margin-top: ($spacer * 4);
}

//Skip Link Styling
.skip-nav {
	margin-top: -24px;
	transform: translate(0, -120%);
	transition: all 325ms ease-in;
}

.skip-nav-link:focus {
	display: inline-block;
}

.skip-nav:has(.skip-nav-link:focus) {
	margin-top: 0;
	transform: translate(0, 0);
}

//Navigation items

.nav-item {
	padding: 0 ($spacer * 2);
}

a[aria-current="page"] {
	@extend .text-muted;
}

// allows for header nav on jump links
.anchor {
	text-decoration: none;
	&:before {
		content: "";
		display: block;
		position: relative;
		height: ($spacer * 4);
		margin-top: -($spacer * 3.5);
	}
}
