//
// Intro and Design Display
//

.intro {
	p {
		max-width: 80ch;
	}
}

.fig-headline,
.code-secondary-headline {
	font-family: "Playfair Display", serif !important;
	font-size: $font-size-base;
	font-weight: bold;
	display: block;
	clear: both;
}

.fig-detail,
.code-secondary-text {
	font-size: ($font-size-base * 0.8);
}
