//
// Intro and Design Display
//
.intro-section {
	.intro {
		p {
			max-width: 65ch;
		}
	}
}

.intro-sploosh {
	display: block;
	width: 100%;
	max-width: 100%;
	height: auto;
	margin-block-end: -1px;

	svg {
		margin-block-end: -1px;
	}
}

.fig-detail,
.code-secondary-text {
	font-size: ($font-size-base * 0.8);
}
