#latest-grid {
	$timing: 3s;

	.grid-item {
		background: $brand-gradient;
		position: relative;
		z-index: 1;

		img {
			opacity: 0;
			transition: opacity $timing linear;
		}
	}

	.grid-item:before {
		position: absolute;
		content: "";
		inset: 0;
		width: 100%;
		background: $brand-gradient-inverted;
		z-index: -1;
		animation: Breathe $timing linear infinite;
		opacity: 0;
		transition: opacity $timing linear;
	}

	.grid-item.transparent:before {
		opacity: 0;
	}
	.full-opacity {
		opacity: 1 !important;
	}

	@keyframes Breathe {
		from {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}
