//
// Writing Section Styles
//
//

.writing-showcase {
	display: grid;
	grid-auto-rows: auto;
	grid-template-columns: 1fr;
	justify-content: space-around;

	gap: ($spacer * 2);

	@include media-breakpoint-up(sm) {
		grid-template-columns: repeat(2, 1fr);
	}

	@include media-breakpoint-up(md) {
		grid-template-columns: repeat(3, 1fr);
	}

	@include media-breakpoint-up(xxl) {
		grid-template-columns: repeat(4, 1fr);
	}

	.card {
		grid-column: span 1;

		.card-header {
			font-size: 0.75em;
		}

		.card-text {
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}
