<section>
    <a class="anchor" name="about" id="about"></a>
    <div class="container p-8">
        <div class="row">
            <div class="col-12">
                <h2 class="display-5 text-primary">
                    About Julia
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">

                <div class="row">
                    <div class="col-12">
                        <h3 class="text-primary">I sell the invisible.</h3>
                        <p class="pb-4">
                            My past <span id="myExp"></span> years working for IT Software-as-a-Service companies have
                            taught me design is more than just aesthetics. A brand is more than the latest campaign or
                            trendy effect, it is how your customers feel — before and after the sale. I focus on
                            producing assets that appeal on an emotional level, regardless of the medium. We are all
                            human, after all.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <h3 class="text-primary">I'm a team player.</h3>
                        <p class="pb-4">
                            Throughout my career, I've worked in small agencies, as part of in-house creative teams, and
                            as a solo freelancer. I have led and executed design projects for multi-million-dollar
                            product launches, webinars, international conferences, website launches, and more. I have
                            collaborated with cross-functional teams of copywriters, developers, marketers, and subject
                            matter experts to deliver engaging solutions. Teamwork makes the dream work.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <h3 class="text-primary">I'm accomplished.</h3>
                        {# <ul class="list-ul pb-4" role="list">
                            <li role="listitem">Designed eBook asset achieving 1000 downloads per month.</li>
                            <li role="listitem">Designed for a software launch which generated
                                2MM<sup>+</sup> in sales.</li>
                            <li role="listitem">Designed a webinar presentation campaign attracting
                                2,000<sup>+</sup> participants.</li>
                            <li role="listitem">Designed for live events achieving 100%<sup>+</sup> of
                                attendance goals.</li>
                            <li role="listitem">Managed design for 3-day international conference with 2,5K<sup>+</sup>
                                attendees.</li>
                            <li role="listitem">Managed a website redesign resulting in 1K<sup>+</sup> online orders
                                within the first nine months of website launch.</li>
                        </ul> #}
                        <p class="pb-4">
                            I've created work for B2B and B2C audiences, both within the United States and
                            internationally. My work has helped teams achieve KPIs and drive attendance.
                        </p>
                        <div class="row pb-4">
                            <div class="col-sm-4 pb-4 d-flex flex-column">
                                <span class="text-center">Designs generating</span>
                                <span class="display-5 text-center">2M<sup>+</sup></span>
                                <span class="text-center">in sales</span>
                            </div>
                            <div class="col-sm-4 pb-4 d-flex flex-column" id="statCenter">
                                <span class="text-center">Webinars attracting</span>
                                <span class="display-5 text-center">2K<sup>+</sup></span>
                                <span class="text-center">participants</span>
                            </div>
                            <div class="col-sm-4 pb-4 d-flex flex-column">
                                <span class="text-center">eBook achieving</span>
                                <span class="display-5 text-center">1K<sup>+</sup></span>
                                <span class="text-center">monthly downloads</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <h3 class="text-primary pt-4">But more about me.</h3>
                        <p>
                            While I am committed to quality and attention to detail, I don't like to take myself too
                            seriously. In my spare time I love being taken for walks by my dog, exploring new cities,
                            and keeping up with web design trends and technologies. I'm currently looking for companies
                            that believe in remote work and the pursuit of work-life balance. I am always looking to
                            expand my horizons by taking on new projects, learning new toolsets, and meeting new people.
                            So reach out and drop me a line.
                        </p>
                    </div>
                </div>


            </div>
            <div class="col-md-4 offset-md-1">
                <h4 class="text-primary">Skills</h4>
                <ul class="list-ul" role="list">
                    <li role="listitem">Branding & Logo Design</li>
                    <li role="listitem">Digital Advertising Campaigns</li>
                    <li role="listitem">eBooks</li>
                    <li role="listitem">Email Campaigns</li>
                    <li role="listitem">Infographics</li>
                    <li role="listitem">Print Design</li>
                    <li role="listitem">Powerpoints</li>
                    <li role="listitem">Promotional Items</li>
                    <li role="listitem">Social Media Graphics</li>
                    <li role="listitem">Tradeshow Booth Design</li>
                    <li role="listitem">T-shirts</li>
                    <li role="listitem">UI &amp; UX Design</li>
                    <li role="listitem">Websites</li>
                </ul>

                <h4 class="text-primary">Tech & Tooling</h4>
                <ul class="list-ul" role="list">
                    <li role="listitem">Photoshop, Illustrator, InDesign, XD, Figma</li>
                    <li role="listitem">HTML, CSS, SCSS, JavaScript, PHP</li>
                    <li role="listitem">Bootstrap, React</li>
                    <li role="listitem">WordPress, Hubspot, Squarespace, Wix</li>
                    <li role="listitem">Eloqua, Mailchimp, Litmus</li>
                </ul>

                <h4 class="text-primary">Certifications</h4>
                <ul class="list-ul" role="list">
                    <li role="listitem">BFA in Graphic Design</li>
                    <li role="listitem">Front-End Engineer Certification</li>
                    <li role="listitem">SiteCore Certified Marketer</li>
                    <li role="listitem">Eloqua Email Marketer</li>
                </ul>
                <h4 class="text-primary">Resume and Contact</h4>
                <ul class="list-ul" role="list">
                    <li role="listitem">
                        <a rel="me noopener noreferrer" href="https://mastodon.world/@becausejulia" name="mastodon"
                            title="Julia Czarnecki's Mastodon" target="_blank">Mastodon</a>
                    </li>
                    <li role="listitem">
                        <a href="https://www.linkedin.com/in/julia-c-b7a79522/" name="Julia Czarnecki's LinkedIn"
                            rel="noopener noreferrer" title="Julia Czarnecki's LinkedIn" target="_blank">LinkedIn</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>