<div class="container">
    <ol class="breadcrumb mt-3 mb-0">
        <li><a href="/">Home &rsaquo;&rsaquo;</a>&nbsp;&nbsp;</li>
        <li>
            <a href="/#{{type}}">{{type}}&rsaquo;&rsaquo;</a>&nbsp;&nbsp;
        </li>
        <li class="active">{{ headline }}</li>
    </ol>
</div>