<section class="portfolio-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="{{ page.fileSlug }}-2 text-center text-white">{{ headline }}</h1>
                <p class="pb-0 mb-0 text-center text-white">{{ title }}</p>
            </div>
        </div>
    </div>

    <picture>
        <!-- 16:5 -->
        <source media="(min-width: 881px)" sizes="(max-width: 2048px) 100vw, 2048px" srcset="
                ../../assets/img/design/{{ page.fileSlug }}Hero-881.webp 881w,
                ../../assets/img/design/{{ page.fileSlug }}Hero-1421.webp 1421w,
                ../../assets/img/design/{{ page.fileSlug }}Hero-1974.webp 1974w,
                ../../assets/img/design/{{ page.fileSlug }}Hero-2013.webp 2013w,
                ../../assets/img/design/{{ page.fileSlug }}Hero-2048.webp 2048w">
        <!-- 4:3 -->
        <img media="(max-width: 880px)" sizes="100vw" srcset="
                ../../assets/img/design/{{ page.fileSlug }}Hero-300.webp 300w,
                ../../assets/img/design/{{ page.fileSlug }}Hero-560.webp 560w,
                ../../assets/img/design/{{ page.fileSlug }}Hero-600.webp 600w,
                ../../assets/img/design/{{ page.fileSlug }}Hero-880.webp 880w,
                ../../assets/img/design/{{ page.fileSlug }}Hero-1760.webp 1760w"
            src="../../assets/img/design/{{ page.fileSlug }}Hero-280.webp" alt="" class="hero-image img-fluid"
            width="2048" height="640" />
    </picture>
</section>