<footer class="w-100">
    <div class="container p-8">
        <div class="row d-flex justify-items-center">
            <div class="py-3 pe-3 col-12 col-md-3 col-lg-3 col-xl-2">
                <h2 class="fs-3 text-white m-0 p-0">Find Me On</h2>
            </div>
            <div class="py-3 col-12 col-md-5 col-lg-3 col-xl-3 d-flex justify-content-between">
                <a href="https://www.github.com/ninjulia" class="icon-link text-white rounded-2 p-2 bg-deeper-purple"
                    name="github" rel="noopener noreferrer" title="github" tabindex="0" target="_blank">
                    <svg class="bi bi-github" fill="currentColor" role="img" aria-label="github" viewBox="0 0 16 16">
                        <title>GitHub Icon</title>
                        <path
                            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                    </svg>
                </a>

                <a rel="me noopener noreferrer" href="https://mastodon.world/@becausejulia"
                    class="icon-link text-white rounded-2 p-2 mastodon" name="mastodon" title="mastodon" tabindex="0"
                    target="_blank">
                    <svg class="bi bi-mastodon" fill="currentColor" role="img" aria-label="mastodon"
                        viewBox="0 0 16 16">
                        <title>Mastodon Icon</title>
                        <path
                            d="M11.19 12.195c2.016-.24 3.77-1.475 3.99-2.603.348-1.778.32-4.339.32-4.339 0-3.47-2.286-4.488-2.286-4.488C12.062.238 10.083.017 8.027 0h-.05C5.92.017 3.942.238 2.79.765c0 0-2.285 1.017-2.285 4.488l-.002.662c-.004.64-.007 1.35.011 2.091.083 3.394.626 6.74 3.78 7.57 1.454.383 2.703.463 3.709.408 1.823-.1 2.847-.647 2.847-.647l-.06-1.317s-1.303.41-2.767.36c-1.45-.05-2.98-.156-3.215-1.928a3.614 3.614 0 0 1-.033-.496s1.424.346 3.228.428c1.103.05 2.137-.064 3.188-.189zm1.613-2.47H11.13v-4.08c0-.859-.364-1.295-1.091-1.295-.804 0-1.207.517-1.207 1.541v2.233H7.168V5.89c0-1.024-.403-1.541-1.207-1.541-.727 0-1.091.436-1.091 1.296v4.079H3.197V5.522c0-.859.22-1.541.66-2.046.456-.505 1.052-.764 1.793-.764.856 0 1.504.328 1.933.983L8 4.39l.417-.695c.429-.655 1.077-.983 1.934-.983.74 0 1.336.259 1.791.764.442.505.661 1.187.661 2.046v4.203z" />
                    </svg>
                </a>

                <a href="https://dribbble.com/becausejulia" class="icon-link  text-white rounded-2 p-2 dribbble"
                    name="dribbble" rel="noopener noreferrer" title="dribbble" tabindex="0" target="_blank">
                    <svg fill="currentColor" role="img" aria-label="dribbble" class="bi bi-dribbble"
                        viewBox="0 0 16 16">
                        <title>Dribbble Icon</title>
                        <path fill-rule="evenodd"
                            d="M8 0C3.584 0 0 3.584 0 8s3.584 8 8 8c4.408 0 8-3.584 8-8s-3.592-8-8-8zm5.284 3.688a6.802 6.802 0 0 1 1.545 4.251c-.226-.043-2.482-.503-4.755-.217-.052-.112-.096-.234-.148-.355-.139-.33-.295-.668-.451-.99 2.516-1.023 3.662-2.498 3.81-2.69zM8 1.18c1.735 0 3.323.65 4.53 1.718-.122.174-1.155 1.553-3.584 2.464-1.12-2.056-2.36-3.74-2.551-4A6.95 6.95 0 0 1 8 1.18zm-2.907.642A43.123 43.123 0 0 1 7.627 5.77c-3.193.85-6.013.833-6.317.833a6.865 6.865 0 0 1 3.783-4.78zM1.163 8.01V7.8c.295.01 3.61.053 7.02-.971.199.381.381.772.555 1.162l-.27.078c-3.522 1.137-5.396 4.243-5.553 4.504a6.817 6.817 0 0 1-1.752-4.564zM8 14.837a6.785 6.785 0 0 1-4.19-1.44c.12-.252 1.509-2.924 5.361-4.269.018-.009.026-.009.044-.017a28.246 28.246 0 0 1 1.457 5.18A6.722 6.722 0 0 1 8 14.837zm3.81-1.171c-.07-.417-.435-2.412-1.328-4.868 2.143-.338 4.017.217 4.251.295a6.774 6.774 0 0 1-2.924 4.573z" />
                    </svg>
                </a>

                <a href="https://emporium.becausejulia.com/" class="icon-link text-white rounded-2 p-2 tjse"
                    rel="noopener noreferrer" title="designs by The Julia Set" tabindex="0" target="_blank">

                    <svg class="bi" viewBox="0 0 512 512" fill="currentColor" role="img"
                        aria-label="designs by the Julia Set">
                        <title>designs by The Julia Set</title>

                        <path d="M409.79,34.09c-49.27-16.9-103.56-3.02-145.66,31.94c-17.94,14.89-42.48,18.98-64.39,11
                            C149.62,58.75,95.85,63.46,56.77,94.58c-63.35,50.44-64.1,151.16-1.66,224.95c47.95,56.67,156.86,164.15,229.24,165.14
                            c7.81,0.82,15.9,0.43,24.15-1.02c74.1-12.97,153.01-160.62,181.8-236.83C524.51,156.32,488.46,61.08,409.79,34.09z M361.63,299.09
                            c0,71.12-46.6,87.59-120.87,87.59c-35.04,0-66.22-4.55-90.39-8.76v-21.37c23.47,3.15,44.5,5.25,67.27,5.25
                            c41.34,0,55.71-12.61,55.71-52.21V125.32h88.29V299.09z" />
                    </svg>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-12 pt-4">
                <p class="text-white">
                    Designed and coded by <a href="https://github.com/ninjulia/becausejulia"
                        class="text-white link-effect" name="becausejulia repository on github"
                        rel="noopener noreferrer" tabindex="0" target="_blank">Julia Czarnecki</a> in the USA with some
                    help from Bootstrap
                    &amp; Eleventy.
                    &copy;&nbsp;2013&nbsp;-&nbsp;<span id="year"></span>.
                </p>
                <p class="text-white">
                    Mockup imagery provided by
                    <a href="https://www.freepik.com" class="text-white link-effect" name="freepik"
                        rel="noopener noreferrer" tabindex="0">freepik.</a> Svg icons via <a
                        href="https://icons.getbootstrap.com/" class="text-white link-effect" name="bootstrap icons"
                        target="_blank">Bootstrap
                        Icons</a>.
                    Fonts are self-hosted. Font files were obtained via
                    <a href="https://fonts.google.com" class="text-white link-effect" name="google fonts"
                        rel="noopener noreferrer" tabindex="0" target="_blank">Google Fonts</a>,
                    and are used under the
                    <a href="https://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL" name="Open Font License"
                        rel="noopener noreferrer" class="text-white link-effect" tabindex="0" target="_blank">Open Font
                        License</a>. All logos, fonts, and imagery used remain property of their respective copyright
                    owners.
                </p>
            </div>
        </div>

</footer>




<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"
    defer></script>
<script src="../../assets/js/date.js" type="text/javascript" defer></script>

<!-- only show dribbble images on main -->

{% if page.url === '/' %}
<script src="https://absorbed-andesaurus.glitch.me/jribbble.min.js" defer></script>
<script src="../../assets/js/jribbble.js" type="text/javascript" defer></script>
{% endif %}

</body>

</html>