<section class="latest-work bg-primary">
        <!-- headline -->
        <div class="headline w-100">
                <a class="anchor" name="latest" id="latest"></a>
                <div class="container p-8">
                        <div class="row">
                                <h2 class="display-6 text-white mb-4">Latest Work</h2>
                        </div>
                </div>
        </div>

        <!-- /headline -->

        <!-- content -->
        <div id="latest-grid" class="grid text-bg-info m-0 p-0 w-100">
                <!-- images set via jribbble.js -->
                <div class='grid-item'></div>
                <div class='grid-item'></div>
                <div class='grid-item'></div>
                <div class='grid-item'></div>

                <div class='grid-item'></div>
                <div class='grid-item'></div>
                <div class='grid-item'></div>
                <div class='grid-item'></div>

                <div class='grid-item'></div>
                <div class='grid-item'></div>
                <div class='grid-item'></div>
                <div class='grid-item'></div>
        </div>
        <!-- /content -->

        <!-- view more link -->
        <div class="view-link">
                <div class="container p-8">
                        <div class="row" id="viewMore">
                                <!-- insert view more link via jribbble.js -->
                        </div>
                </div>
        </div>
        <!-- /view more link -->
</section>