{% set writingCheck = r/writing*/%}
<header class="w-100 fixed-top bg-darkest">
    <div class="skip-nav pb-2 container">
        <div class="row">
            <div class="col-12 bg-darkest">
                <a class="skip-nav-link p-2 text-white" href="#main-content">
                    Skip Navigation
                </a>
            </div>
        </div>
    </div>


    <nav class="navbar navbar-expand-lg navbar-dark bg-darkest d-lg-flex justify-content-baseline" role="navigation">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center text-white" {% if writingCheck.test(page.url)%}
                href="/writing/" {% else %} href="/" {% endif %} target="_self" tabindex="0">
                <svg class="bi" width="32" height="32" fill="currentColor" role="img" aria-label="code">
                    <use xlink:href="../../assets/img/bootstrap-set.svg#code-slash" />
                </svg>
                &nbsp;&nbsp;&nbsp;Julia Czarnecki
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">


                    {% if writingCheck.test(page.url)%}
                    {% include "../_navs/writingNav.njk" %}
                    {% else %}
                    {% include "../_navs/designNav.njk" %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>