{% set writingCheck = r/writing*/%}
<header class="w-100 fixed-top bg-darkest">
    <div id="skipNav" class="container d-flex align-items-center">
        <div class="row">
            <div class="col-12 bg-darkest">
                <a class="text-white p-2" href="#main-content">
                    Skip Navigation
                </a>
            </div>
        </div>
    </div>


    <nav class="navbar navbar-expand-lg navbar-dark bg-darkest d-lg-flex justify-content-baseline" role="navigation">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center text-white" {% if writingCheck.test(page.url)%}
                href="/writing/" {% else %} href="/" {% endif %} target="_self" tabindex="0">
                <svg class="bi" width="32" height="32" fill="currentColor" role="img" aria-label="code">
                    <use xlink:href="../../assets/img/bootstrap-set.svg#code-slash" />
                </svg>
                &nbsp;&nbsp;&nbsp;Julia Czarnecki
            </a>
            <!-- Fancy Button -->
            <button class="btn-nav-fancy navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <svg stroke="var(--button-color)" fill="none" class="navbar-toggler-icon hamburger"
                    viewBox="0 0 100 100" width="100">
                    <path class="line" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" d="m 20 40 
        h 60 
        a 1 1 0 0 1 0 20 
        h  -60 
        a 1 1 0 0 1 0 -40 
        h 30 
        v 70">
                    </path>
                </svg>
            </button>
            <!-- /Fancy Button -->

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">


                    {% if writingCheck.test(page.url)%}
                    {% include "../_navs/writingNav.njk" %}
                    {% else %}
                    {% include "../_navs/designNav.njk" %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>