<section class="latest-work bg-primary">
        <!-- headline -->
        <div class="headline w-100">
                <a class="anchor" name="latest" id="latest"></a>
                <div class="container p-8">
                        <div class="row">
                                <h2 class="display-6 text-white mb-4">Latest Work</h2>
                        </div>
                </div>
        </div>

        <!-- /headline -->

        <!-- content -->
        <div id="latest-grid" class="grid text-bg-info m-0 p-0 w-100">
                <div class='grid-item rounded-1'>
                        <img class="grid-img img-fluid" width="400" height="300" loading="lazy" />
                </div>
                <div class='grid-item rounded-1'>
                        <img class="grid-img img-fluid" width="400" height="300" loading="lazy" />
                </div>
                <div class='grid-item rounded-1'>
                        <img class="grid-img img-fluid" width="400" height="300" loading="lazy" />
                </div>
                <div class='grid-item rounded-1'>
                        <img class="grid-img img-fluid" width="400" height="300" loading="lazy" />
                </div>

                <div class='grid-item rounded-1'>
                        <img class="grid-img img-fluid" width="400" height="300" loading="lazy" />
                </div>
                <div class='grid-item rounded-1'>
                        <img class="grid-img img-fluid" width="400" height="300" loading="lazy" />
                </div>
                <div class='grid-item rounded-1'>
                        <img class="grid-img img-fluid" width="400" height="300" loading="lazy" />
                </div>
                <div class='grid-item rounded-1'>
                        <img class="grid-img img-fluid" width="400" height="300" loading="lazy" />
                </div>

                <div class='grid-item rounded-1'>
                        <img class="grid-img img-fluid" width="400" height="300" loading="lazy" />
                </div>
                <div class='grid-item rounded-1'>
                        <img class="grid-img img-fluid" width="400" height="300" loading="lazy" />
                </div>
                <div class='grid-item rounded-1'>
                        <img class="grid-img img-fluid" width="400" height="300" loading="lazy" />
                </div>
                <div class='grid-item rounded-1'>
                        <img class="grid-img img-fluid" width="400" height="300" loading="lazy" />
                </div>
        </div>
        <!-- /content -->

        <!-- view more link -->
        <div class="view-link">
                <div class="container p-8">
                        <div class="row">
                                <p id="viewMore" class="text-white mb-0 pb-0">
                                        <!-- show loading text or view more link via jribbble.js -->
                                        Loading images from Dribbble<span id="loadingDots"></span>
                                </p>
                        </div>
                </div>
        </div>
        <!-- /view more link -->
</section>