<section class="latest-work bg-primary">
        <!-- headline -->
        <div class="headline w-100">
                <a class="anchor" name="latest" id="latest"></a>
                <div class="container p-8">
                        <div class="row">
                                <h2 class="display-6 text-white mb-4">Latest Work</h2>
                        </div>
                </div>
        </div>

        <!-- /headline -->

        <!-- content -->
        <div id="latest-grid" class="grid text-bg-info m-0 p-0 w-100 ">
                {% for shot in dribbble %}
                <div class='grid-item rounded-1 overflow-hidden'>
                        <a href="{{ shot.url }}">
                                <img class="grid-img img-fluid" width="400" height="300" loading="lazy"
                                        src="{{ shot.images.normal }}" alt="{{ shot.title }}" />
                        </a>
                </div>
                {% endfor %}
        </div>
        <!-- /content -->

        <!-- view more link -->
        <div class="view-link">
                <div class="container p-8">
                        <div class="row">
                                <p id="viewMore" class="text-white mb-0 pb-0 d-inline overflow-hidden">
                                        {%if dribbble | length === 0%}
                                        An error occurred. <a href='https://dribbble.com/becausejulia'
                                                name='latest_work' rel='noreferrer' title='dribbble'
                                                class="text-white">View the latest images</a> by BecauseJulia on
                                        Dribbble.
                                        {% else %}
                                        More from <a href='https://dribbble.com/becausejulia' name='latest_work'
                                                rel='noreferrer' title='dribbble' class="text-white">BecauseJulia on
                                                Dribbble.</a>
                                        {% endif %}
                                </p>
                        </div>
                </div>
        </div>
        <!-- /view more link -->
</section>