{% set currentUrl = page.url %}
<section class="latest-work bg-info">
    <div class="grid text-bg-info">
        {% for selected in collections.showcase | filterImg(page.url) %}
        <div class="grid-item overflow-hidden">
            <img src="{{selected}}" class="img-fluid rounded-1" alt="" />
        </div>
        {% endfor %}
    </div>
</section>