<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">

<head>
    <meta charset="utf-8" />
    <meta name="color-scheme" content="light dark">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script type="module" src="../../assets/js/color-modes.js"></script>

    {% set designCheck = r/design*/%}
    {% set writingCheck = r/writing*/%}

    {% if page.url === '/'%}
    <title>{{title}}</title>
    <meta name="author" content="Julia Czarnecki">
    <meta name="description" content="{{ desc }}">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.becausejulia.com">
    <meta property="og:site_name" content="Julia Czarnecki | Design | Code | Digital">
    <meta property="og:locale" content="en_US">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ desc }}">
    <meta property="og:image" content="https://www.becausejulia.com/previews/{{ image }}">
    <meta property="og:image:alt" content="{{ alt }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="https://www.becausejulia.com/">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ desc }}">
    <meta name="twitter:image" content="https://www.becausejulia.com/previews/{{ image }}">
    <meta name="twitter:image:alt" content="{{ alt }}">

    {% elif writingCheck.test(page.url)%}
    <title>{{ title }} | Julia Czarnecki | Writing</title>
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <meta name="googlebot-news" content="nosnippet">
    {% else %}
    <title>{{ title }} | Julia Czarnecki | Design</title>
    {% endif %}

    <link rel="stylesheet" href="../../assets/css/style.css" type="text/css" />

    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"><!-- 180×180 -->
    <link rel="manifest" href="/manifest.webmanifest">

</head>

<body class="vh-100">
    <!-- header -->
    {% include "./_components/header.njk" %}
    <!-- /header -->

    <main role="main" id="main-content">
        {{ content | safe }}
    </main>

    <!-- footer -->
    {% include "./_components/footer.njk" %}
    <!-- /footer -->