<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% set designCheck = r/design*/%}
    {% set writingCheck = r/writing*/%}

    {% if page.url === '/'%}
    <title>{{title}}</title>
    {% elif writingCheck.test(page.url)%}
    <title>{{ title }} | Julia Czarnecki | Writing</title>
    {% else %}
    <title>{{ title }} | Julia Czarnecki | Design</title>
    {% endif %}

    <link rel="stylesheet" href="../../assets/css/style.css" />

    <link rel="icon" href="/favicon.ico" sizes="any"><!-- 32×32 -->
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"><!-- 180×180 -->
    <link rel="manifest" href="/manifest.webmanifest">

</head>

<body class="vh-100">
    <!-- header -->
    {% include "./_components/header.njk" %}
    <!-- /header -->

    <main role="main" id="main-content">
        {{ content | safe }}
    </main>

    <!-- footer -->
    {% include "./_components/footer.njk" %}
    <!-- /footer -->