<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="/#design" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Design
    </a>
    <ul class="dropdown-menu">
        {% for design in collections.design %}
        <li>
            <a class="dropdown-item" {% if currentUrl===design.url %}aria-current="page" {% endif %}
                href="{{design.url}}">
                {{ design.data.headline }}
            </a>
        </li>
        {% endfor %}
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link" href="/#code">Code</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/#about">About</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/#latest">Latest</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/#contact">Contact</a>
</li>