<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ headline }} | Julia Czarnecki | Design</title>
    <link rel="stylesheet" href="../../../../assets/css/style.css" type="text/css" />

    <link rel="icon" href="/favicon.ico" sizes="any"><!-- 32×32 -->
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"><!-- 180×180 -->
    <link rel="manifest" href="/manifest.webmanifest">

</head>

<body class="vh-100">
    <!-- header -->
    {% include "./_components/header.njk" %}
    <!-- /header -->

    <!--  hero  -->
    {% include "./_components/designHero.njk" %}
    <!-- / hero -->

    <main role="main" id="main-content">

        <!--  breadcrumb  -->
        {% include "./_components/breadcrumb.njk" %}
        <!-- / breadcrumb -->

        <section class="portfolio_start p-8">
            <div class="container text-start">
                <div class="row">
                    <div class="col-lg-7">
                        <h2 class="display-4">Concept</h2>

                        {{content | safe}}

                    </div>
                    <div class="col-lg-4 offset-lg-1">
                        <div class="bg-grey p-4 rounded-3">
                            <h3>Quick Facts</h3>
                            <dl class="quick-facts">
                                {% for key, fact in quickFacts%}
                                <div class="group">
                                    <dt>{{key}}</dt>
                                    <dd>{{fact}}</dd>
                                </div>
                                {% endfor %}
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- highlight -->
        {% for elem in highlight %}
        <section>
            <div class="container p-8">

                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-12">
                                <img src="../../assets/img/design/{{ page.fileSlug }}-h1.webp"
                                    alt="{{ highlight[loop.index0].alt }}" class="img-fluid mb-8" />
                            </div>
                            <div class="col-12">
                                <h3>{{ highlight[loop.index0].headline }}<br /><span class="text-muted fs-4">{{
                                        highlight[loop.index0].subhead
                                        }}</span></h3>
                                <p>{{ highlight[loop.index0].description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="intro-sploosh m-0">
                <div class="col-12 p-0">
                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1440 320">
                        <path fill="#191a23" fill-opacity="1"
                            d="M0,32L40,42.7C80,53,160,75,240,90.7C320,107,400,117,480,133.3C560,149,640,171,720,202.7C800,235,880,277,960,250.7C1040,224,1120,128,1200,80C1280,32,1360,32,1400,32L1440,32L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z">
                        </path>
                    </svg>
                </div>
            </div>
        </section>
        {% endfor %}
        <!-- /highlight -->

        <!-- featurettes -->
        {% set colors = ['text-bg-info', 'text-bg-light', 'text-bg-deeper-purple' ] %}
        {% for feature in featurettes %}

        {% include "./_components/featurette.njk" %}

        {% endfor %}
        <!-- /featurettes -->

        <!-- showcase -->
        {% include "./_components/showcase.njk" %}
        <!-- /showcase -->

    </main>

    <!-- footer -->
    {% include "./_components/footer.njk" %}
    <!-- /footer -->