<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ headline }} | Julia Czarnecki | Design</title>
    <link rel="stylesheet" href="../../../../assets/css/style.css" type="text/css" />

    <link rel="icon" href="/favicon.ico" sizes="any"><!-- 32×32 -->
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"><!-- 180×180 -->
    <link rel="manifest" href="/manifest.webmanifest">

</head>

<body class="vh-100">
    <!-- header -->
    {% include "./_components/header.njk" %}
    <!-- /header -->

    <!--  hero  -->
    {% include "./_components/designHero.njk" %}
    <!-- / hero -->

    <main role="main" id="main-content">

        <!--  breadcrumb  -->
        {% include "./_components/breadcrumb.njk" %}
        <!-- / breadcrumb -->

        <section class="portfolio_start p-8">
            <div class="container text-start">
                <h2 class="display-4">Concept</h2>

                {{content | safe}}

            </div>
        </section>

        <!-- featurettes -->
        {% set colors = ['text-bg-info', 'text-bg-light', 'text-bg-deeper-purple' ] %}
        {% for feature in featurettes %}

        {% include "./_components/featurette.njk" %}

        {% endfor %}
        <!-- /featurettes -->

        <!-- showcase -->
        {% include "./_components/showcase.njk" %}
        <!-- /showcase -->

    </main>

    <!-- footer -->
    {% include "./_components/footer.njk" %}
    <!-- /footer -->