<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
  <meta charset="utf-8">
  <meta name="color-scheme" content="light dark">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script type="module" src="../../assets/js/color-modes.js"></script>

  <title>{{ title }}</title>
  <link rel="stylesheet" href="../assets/css/style.css" type="text/css" />

  <link rel="icon" href="/favicon.ico" sizes="any"><!-- 32×32 -->
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png"><!-- 180×180 -->
  <link rel="manifest" href="/manifest.webmanifest">

</head>

<body class="d-flex flex-column justify-content-between min-vh-100 bg-black">
  <!-- header -->
  {% include "./_components/header.njk" %}
  <!-- /header -->
  <main role="main" id="main-content" class="flex-grow-1 w-100 pt-9 d-md-flex flex-column">

    {{ content | safe }}

  </main>
  <!-- footer -->
  {% include "./_components/footer.njk" %}
  <!-- /footer -->