</main>
<!-- end page content -->

<!-- footer -->
<footer class="position-relative bottom-0">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-2">
                <h2 class="fs-4">Find Me On</h2>
            </div>
            <div class="col-md-9 mb-4">
                <a href="https://www.github.com/ninjulia" target="_blank" class="text-white" name="github" rel="noreferrer" title="github">
                    <svg class="icon icon-github">
                        <use xlink:href="#icon-github"></use>
                    </svg>
                </a>
                <a href="https://www.linkedin.com/in/julia-c-b7a79522" target="_blank" class="text-white" name="linkedin" rel="noreferrer" title="linkedin">
                    <svg class="icon icon-linkedin fs-5">
                        <use xlink:href="#icon-linkedin"></use>
                    </svg>
                </a>
                <a href="https://dribbble.com/becausejulia" target="_blank" class="text-white" name="dribbble" rel="noreferrer" title="dribbble">
                    <svg class="icon icon-dribbble">
                        <use xlink:href="#icon-dribbble"></use>
                    </svg>
                </a>
                <a href="https://www.instagram.com/the_julia_set/" target="_blank" class="text-white" name="instagram" rel="noreferrer" title="instagram">
                    <svg class="icon icon-instagram">
                        <use xlink:href="#icon-instagram"></use>
                    </svg>
                </a>
                <a href="https://thejuliaset.threadless.com" target="_blank" class="text-white" name="threadless" rel="noreferrer" title="threadless">
                    <svg class="icon icon-cart">
                        <use xlink:href="#icon-cart"></use>
                    </svg>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    Designed and coded by Julia Czarnecki with some help from Bootstrap &amp; Eleventy. &copy; 2013 -
                    <span id="year"></span>
                </p>
                <p>
                    SVG icons by
                    <a href="https://icomoon.io/app" target="_blank" class="text-white link-effect" name="icomoon" rel="noreferrer">icomoon.</a >
                    Mockup imagery provided by
                    <a href="https://www.freepik.com" class="text-white link-effect" name="freepik" rel="noreferrer" target="_blank">freepik.</a >
                    Fonts are self-hosted, files supplied by
                    <a href="https://fonts.google.com" class="text-white link-effect" name="google fonts" rel="noreferrer" target="_blank">Google Fonts</a >
                    and used under the
                    <a href="https://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL" name="Open Font License" rel="noreferrer" target="_blank" class="text-white link-effect">Open Font License</a >.
                </p>
                <p>
                    Any data you provide will only be used to reply to you. It will not be stored or shared.
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- /footer -->

<!--
<script src="https://absorbed-andesaurus.glitch.me/jribbble.min.js"></script>

<script src="/assets/js/date.js" type="text/javascript"></script>-->

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script src="../assets/js/date.js" type="text/javascript"></script>
</body>
</html>