<section class="latest-work bg-primary">
        <!-- headline -->
        <div class="container headline">
                <div class=" row">
                        <div class="col-12">
                                <a class="anchor" name="latest" id="latest"></a>
                                <h2 class="display-6 text-white mb-4">Latest Work</h2>
                        </div>
                </div>
        </div>
        <!-- /headline -->

        <!-- content -->
        <div id="latest-grid" class="grid text-bg-info">
                <!-- insert last 12 dribbble shots via jribbble.js -->
        </div>
        <!-- /content -->

        <div class="container view-link">
                <div class="row">
                        <div class="col-12" id="viewMore">
                                <!-- insert view more link via jribbble.js -->
                        </div>
                </div>
        </div>
</section>