<!-- set current url -->
{% set currentUrl = page.url %}
<header class="w-100 fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-darkest d-lg-flex justify-content-baseline" role="navigation">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="/" target="_self">
                <i class="bi-code-slash text-white fs-1"></i>
                &nbsp;&nbsp;&nbsp;Julia Czarnecki
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/#design" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Design
                        </a>
                        <ul class="dropdown-menu">
                            {% for design in collections.design %}
                            <li>
                                <a class="dropdown-item" {% if currentUrl===design.url %}aria-current="page" {% endif %}
                                    href="{{ design.url}}">
                                    {{ design.data.headline }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#code">Code</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#latest">Latest</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>