<!-- showcase -->
<section class="latest-work bg-primary m-0 p-0">
    <div id="latest-grid" class="grid text-bg-info">
        {% for selected in collections.showcase %}
        <div class="grid-item">
            <img src="{{selected}}" class="img-fluid rounded-1" width="400" height="300" alt="" loading="lazy" />
        </div>
        {% endfor %}
    </div>
</section>
<!-- /showcase -->