<div class="col-md-4 mb-5  hvr-bounce-in">
    <a href="{{ design.url }}" target="_blank">
        <figure class="figure">
            <img src="{{ design.data.thumbnail }}" class="figure-img img-fluid shadow rounded"
                alt="{{ design.data.headline }}" />
            <figcaption class="figure-caption rounded-bottom">
                <span class="fig-headline text-white">{{ design.data.headline }}</span>
                <span class="fig-detail text-white">{{ design.data.title }}</span>
            </figcaption>
        </figure>
    </a>
</div>