<div class="col-md-5 col-lg-4 mb-9 hvr-bounce-in">
    <a href="{{ design.url }}" target="_blank" name="{{design.data.headline}}" aria-label="{{design.data.headline}}">
        <figure class="position-relative">
            <img src="{{ design.data.thumbnail }}" class="img-fluid shadow rounded w-100 mb-0" width="500" height="500"
                alt="{{ design.data.headline }}" loading="lazy" />
            <figcaption
                class="text-white bg-info-transparent position-absolute w-100 bottom-0 end-0 start-0 p-4 rounded-bottom">
                <span class="fig-headline text-white">{{ design.data.headline }}</span>
                <span class="fig-detail text-white">{{ design.data.title }}</span>
            </figcaption>
        </figure>
    </a>
</div>