//
// Style Overrides for Modules / Components
//
html {
	scroll-behavior: smooth;
}

//
// style text as links
//
.link-effect {
	text-decoration: underline;
}

//
// Default Spacing Overrides
//
section, .design{
	padding: ($spacer * 2);
}

p:last-of-type,
.list-ul li:last-of-type,
input[type="submit"] {
	padding-bottom: ($spacer * 2);
}

// style svgicons
.icon {
	display: inline-block;
	width: ($font-size-root * 1.5);
	height: ($font-size-root * 1.5);
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

//
// Style Unordered Lists with on Brand bullets
//
.list-ul {
	padding: 0;
	list-style: none;
	margin-left: $spacer;

	li:before {
		content: "\2022";
		color: $primary;
		font-weight: bold;
		display: inline-block;
		width: .75rem;
		height:.01rem;
		margin-left: -.75rem;
		@extend .fs-6;
	}
}

//
// set spinner to slightly taller than text
//
$spinner-width-sm: $font-size-root * 1.5;
$spinner-height-sm: $spinner-width-sm;
