//
// Instagram "LinkTree"
//
.linktree {
    a:hover {
      text-decoration: none !important;
  
      div {
        @extend .shadow;
      }
    }
  
    h2,
    p {
      padding-bottom: ($spacer * .5);
      margin-bottom: 0;
      text-decoration: none !important;
    }
  }