//
// Portfolio Page Styles
//

.breadcrumb {
    background-color: transparent !important;
    margin-bottom: 0;
    padding-left: 0 !important;
  }
  
  .jumbotron {
    margin-bottom: 0 !important;
    margin-top: ($spacer *3.25); // allows for header nav
    border-radius: 0 !important;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  .jumbotron.intro {
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .jumbotron.intro .bgvid {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    //top: 0;
    left: 50;
    right: 50;
    margin-left: auto;
    margin-right: auto;
    filter: blur(2px) opacity(20%);
  }
  
  .portfolio-header {
    height: 300px;
    color: $lightest;
    background-color: $gray-900;
  
    h1,
    p {
      text-shadow: 0rem 0rem 2rem rgba(0, 0, 0, .75);
    }
  }
  
  .elearning {
    background: url(https://www.becausejulia.com/img/elearning-banner.jpg) no-repeat center center;
  }
  
  .webmanagement {
    background: url(https://www.becausejulia.com/img/wm-banner.jpg) no-repeat center center;
  }
  
  .microsite {
    background: url(https://www.becausejulia.com/img/microsite-header.jpg) no-repeat center center;
  }
  
  .ebook {
    background: url(https://www.becausejulia.com/img/ebook-banner.jpg) no-repeat center center;
  }
  
  .recipe {
    background: url(https://www.becausejulia.com/img/recipe-banner.jpg) no-repeat center center;
  }
  
  .banners {
    background: url(https://www.becausejulia.com/img/banners-banner.jpg) no-repeat center center;
  }
  
  .portfolio-image {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .code-showcase {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: ($spacer * 4) auto ($spacer * 2);
  
    @media (min-width: 992px) {
      display: flex;
      justify-content: space-between;
      width: 80%;
    }
  
    .code-full {
      position: relative;
      z-index: 2;
    }
  
    .code-phone {
      position: absolute;
      right: 0;
      z-index: 12;
      width: 50%;
      align-self: flex-end;
  
      @media (min-width: 768px) {
        display: flex;
        justify-content: flex-end;
        bottom: -($spacer * 2);
      }
  
    }
  
    img {
      border-radius: ($spacer * 2);
    }
  }
  
  // change text color on featurettes on dark bgs
  .bg-info .featurette {
    color: $gray-100 !important;
  }
  
  .featurette {
    display: flex;
    align-items: center;
    @extend section;
  }
  
  .featurette-divider {
    margin: ($spacer * 3) 0;
    /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }

  @media (min-width: 768px) {

    .featurette-heading {
      font-size: 50px;
    }
  
  }
  
  @media (min-width: 992px) {
  
    .featurette-heading {
      margin-top: 7rem;
    }
  }