# dependencies installed by npm
node_modules

# build artifacts
public/components/*

# secrets and errors
.env
.log
.cache
.github
.vscode

# files
.DS_Store
.vscode
.github

# Local Netlify folder
.netlify
