@charset "UTF-8";

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay.woff2") format("woff2-variations");
  font-weight: 400 900;
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Italic.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #482475;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #191a23;
  --bs-white: #f9f9f9;
  --bs-gray: #8d91ae;
  --bs-gray-dark: #595c7c;
  --bs-gray-100: #f5f6f8;
  --bs-gray-200: #e7e7ee;
  --bs-gray-300: #d8d9e3;
  --bs-gray-400: #c9cad8;
  --bs-gray-500: #abadc3;
  --bs-gray-600: #8d91ae;
  --bs-gray-700: #707499;
  --bs-gray-800: #595c7c;
  --bs-gray-900: #44465f;
  --bs-primary: #482475;
  --bs-secondary: #bc9ee1;
  --bs-success: #42be71;
  --bs-info: #4756b2;
  --bs-warning: #f7d91b;
  --bs-danger: #f44336;
  --bs-light: #f5f6f8;
  --bs-dark: #44465f;
  --bs-black: #191a23;
  --bs-gray: #c9cad8;
  --bs-deep-purple: #440154;
  --bs-deep-blue: #414487;
  --bs-mid-blue: #355f8d;
  --bs-cerulean: #2a788e;
  --bs-teal: #2dc8c2;
  --bs-green: #22a884;
  --bs-light-green: #42be71;
  --bs-lime: #7ad151;
  --bs-deeper-purple: rgb(19.04, 0.28, 23.52);
  --bs-pop: rgb(187.5, 157.5, 225);
  --bs-primary-rgb: 72, 36, 117;
  --bs-secondary-rgb: 188, 158, 225;
  --bs-success-rgb: 66, 190, 113;
  --bs-info-rgb: 71, 86, 178;
  --bs-warning-rgb: 247, 217, 27;
  --bs-danger-rgb: 244, 67, 54;
  --bs-light-rgb: 245, 246, 248;
  --bs-dark-rgb: 68, 70, 95;
  --bs-black-rgb: 25, 26, 35;
  --bs-gray-rgb: 201, 202, 216;
  --bs-deep-purple-rgb: 68, 1, 84;
  --bs-deep-blue-rgb: 65, 68, 135;
  --bs-mid-blue-rgb: 53, 95, 141;
  --bs-cerulean-rgb: 42, 120, 142;
  --bs-teal-rgb: 45, 200, 194;
  --bs-green-rgb: 34, 168, 132;
  --bs-light-green-rgb: 66, 190, 113;
  --bs-lime-rgb: 122, 209, 81;
  --bs-deeper-purple-rgb: 19, 0, 24;
  --bs-pop-rgb: 188, 158, 225;
  --bs-primary-text-emphasis: rgb(28.8, 14.4, 46.8);
  --bs-secondary-text-emphasis: rgb(75.2, 63.2, 90);
  --bs-success-text-emphasis: rgb(26.4, 76, 45.2);
  --bs-info-text-emphasis: rgb(28.4, 34.4, 71.2);
  --bs-warning-text-emphasis: rgb(98.8, 86.8, 10.8);
  --bs-danger-text-emphasis: rgb(97.6, 26.8, 21.6);
  --bs-light-text-emphasis: #707499;
  --bs-dark-text-emphasis: #707499;
  --bs-primary-bg-subtle: rgb(218.4, 211.2, 227.4);
  --bs-secondary-bg-subtle: rgb(241.6, 235.6, 249);
  --bs-success-bg-subtle: rgb(217.2, 242, 226.6);
  --bs-info-bg-subtle: rgb(218.2, 221.2, 239.6);
  --bs-warning-bg-subtle: rgb(253.4, 247.4, 209.4);
  --bs-danger-bg-subtle: rgb(252.8, 217.4, 214.8);
  --bs-light-bg-subtle: rgb(247, 247.5, 248.5);
  --bs-dark-bg-subtle: #c9cad8;
  --bs-primary-border-subtle: rgb(181.8, 167.4, 199.8);
  --bs-secondary-border-subtle: rgb(228.2, 216.2, 243);
  --bs-success-border-subtle: rgb(179.4, 229, 198.2);
  --bs-info-border-subtle: rgb(181.4, 187.4, 224.2);
  --bs-warning-border-subtle: rgb(251.8, 239.8, 163.8);
  --bs-danger-border-subtle: rgb(250.6, 179.8, 174.6);
  --bs-light-border-subtle: #e7e7ee;
  --bs-dark-border-subtle: #abadc3;
  --bs-white-rgb: 249, 249, 249;
  --bs-black-rgb: 25, 26, 35;
  --bs-font-sans-serif: "Montserrat", Helvetica, Arial, sans-serif !important;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(249, 249, 249, 0.15), rgba(249, 249, 249, 0));
  --bs-root-font-size: 1rem;
  --bs-body-font-family: "Montserrat", Helvetica, Arial, sans-serif !important;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #44465f;
  --bs-body-color-rgb: 68, 70, 95;
  --bs-body-bg: #f9f9f9;
  --bs-body-bg-rgb: 249, 249, 249;
  --bs-emphasis-color: #191a23;
  --bs-emphasis-color-rgb: 25, 26, 35;
  --bs-secondary-color: rgba(68, 70, 95, 0.75);
  --bs-secondary-color-rgb: 68, 70, 95;
  --bs-secondary-bg: #e7e7ee;
  --bs-secondary-bg-rgb: 231, 231, 238;
  --bs-tertiary-color: rgba(68, 70, 95, 0.5);
  --bs-tertiary-color-rgb: 68, 70, 95;
  --bs-tertiary-bg: #f5f6f8;
  --bs-tertiary-bg-rgb: 245, 246, 248;
  --bs-heading-color: inherit;
  --bs-link-color: #482475;
  --bs-link-color-rgb: 72, 36, 117;
  --bs-link-decoration: underline;
  --bs-link-hover-color: rgb(57.6, 28.8, 93.6);
  --bs-link-hover-color-rgb: 58, 29, 94;
  --bs-code-color: #d63384;
  --bs-highlight-color: #44465f;
  --bs-highlight-bg: rgb(255, 242.6, 205.4);
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #d8d9e3;
  --bs-border-color-translucent: rgba(25, 26, 35, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(25, 26, 35, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(25, 26, 35, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(25, 26, 35, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(25, 26, 35, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(72, 36, 117, 0.25);
  --bs-form-valid-color: #42be71;
  --bs-form-valid-border-color: #42be71;
  --bs-form-invalid-color: #f44336;
  --bs-form-invalid-border-color: #f44336;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: var(--bs-root-font-size);
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

/* rtl:raw:
[type="tel"],
[type="url"],
[type="email"],
[type="number"] {
  direction: ltr;
}
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::file-selector-button {
  font: inherit;
  -webkit-appearance: button;
}
:root {
  --bs-breakpoint-xs: 0;
  --bs-breakpoint-sm: 576px;
  --bs-breakpoint-md: 768px;
  --bs-breakpoint-lg: 992px;
  --bs-breakpoint-xl: 1200px;
  --bs-breakpoint-xxl: 1400px;
}

/* rtl:begin:ignore */

/* rtl:end:ignore */

/* rtl:begin:ignore */

/* rtl:end:ignore */

/* rtl:begin:remove */

/* rtl:end:remove */

/* Fancy Navigation button */

@media (prefers-color-scheme: dark) {
  /*svg filled with light gradient on dark bg */
}
@media (prefers-color-scheme: light) {
  /*svg filled with dark gradient on light bg */
}
