//
// Intro and Design Display
//

.main-gradient {
	@extend .bg-brand-gradient;
	padding: 2em 0 0 0;
}

/* Intro Text */
.intro {
	padding: 2rem;
	p {
		max-width: 33rem;
		margin: 0 auto;
	}
}

.figure {
	position: relative;
	img {
		display: block;
		margin-bottom: 0;
	}
}

.figure-caption {
	background: $info-transparent;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: $spacer;
}

.fig-headline,
.code-secondary-headline {
	font-family: "Playfair Display", serif !important;
	font-size: $font-size-base;
	font-weight: bold;
	display: block;
	clear: both;
}

.fig-detail,
.code-secondary-text {
	font-size: ($font-size-base * 0.8);
}
