/* Text styling for Shentel Examples */
body {font-size: 12px;}

h1,
h2,
h3,
h4,
h5,
h6 {
font-family:Arial,Helvetica,sans-serif !important;
 line-height:24px
}
h1 {
 color:#333;
 font-size:20px;
 font-weight:bold
}
h2 {
 color:#333;
 font-size:20px;
 font-weight:bold
}
h3 {
 color:#000;
 font-size:14px;
 font-weight:bold
}
h4 {
 color:#585858;
 font-size:12px;
 font-weight:Bold
}
h5 {
 color:#585858;
 font-size:12px;
 font-weight:Bold
}
h6 {
 color:#585858;
 font-size:12px;
 font-weight:Bold
}

a {
 color:#0466d5;
 text-decoration:none
}
a:hover {
 text-decoration:underline
}
p {
 line-height:20px;
 font-size:13px;
 color:#444;
 line-height:18px;
 margin-bottom:18px
}
ul,
ol {
 color:#444
}