/* writing section styles */
:root{
  --lavender:#8589A4;
  --pink:#AF4659;
  --darkp:#1E141F;
  --green:#568f5a;
  --yellow:#d47f22;
  --pomegranate:#f44336;
}

.lavender{background-color:var(--lavender); border-color:var(--lavender);color:#fff;}
.pink{background-color:var(--pink); border-color:var(--pink); color:#fff;}
.darkp{background-color:var(--darkp); border-color:var(--darkp); color:#fff;}
.green{background-color:var(--green); border-color:var(--green); color:#fff;}
.yellow{background-color:var(--yellow); border-color:var(--yellow);}
.pomegranate{background-color:var(--pomegranate); border-color:var(--pomegranate); color:#fff;}

.yellow-text{color:var(--yellow)}


.card-header {font-style:italic;font-size:0.75em;}

.writing-container{max-width:600px; margin:0 auto;}
