---

title: Creative Concepting | Web & Social Media Design | Digital Marketing
headline: Digital Advertising
bannerImage: ../../assets/img/banners-banner.jpg
lead: This digital marketing set consists of six banners for use with Google display ads and Facebook social media
marketing. Developed for the fictional band, VHS Actually, to promote their Press Any Key to Continue Summer Tour 2021
based on their latest album of the same name. Artwork from the album was leveraged to further reinforce the connection
between the album and the tour.
layout: design.njk

---

<!-- FEATURETTES -->
<section class="bg-light">
    <div class="container">
        <div class="row featurette">
            <div class="col-md-6">
                <h2>Facebook advertising.<br /><span class="text-muted">Standing out in the news feed.</span></h2>
                <p>Copy and design work together to target existing fans of the band's page and stand out in news
                    feeds when shared.</p>
            </div>
            <div class="col-md-5 offset-md-1">
                <img src="../../assets/img/displayFB-bannerset.png" alt="Sample Facebook Ad"
                    class="img-fluid rounded-lg" />
            </div>
        </div>
    </div>
</section>
<section class="bg-info">
    <div class="container">
        <div class="row featurette">
            <div class="col-md-6 order-md-2">
                <h2>Display advertising.<br /><span class="text-muted">Five sizes for most uses.</span></h2>
                <p>Banners were created in the most common (and cost-effective) display ad sizes intended for use
                    with Google Ads. Design elements were resized and in some cases omitted to promote readability
                    but maintain campaign design integrity.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="../../assets/img/displayAds-bannerset.png" alt="Sample display ad collection of five banners"
                    class="img-fluid rounded-lg" />
            </div>
        </div>
    </div>
</section>
<!-- /END THE FEATURETTES -->