---

title: Julia Czarnecki | Design | Code | Digital
layout: empty.njk

---

<div class="container p-4 mt-6 flex-grow-1 d-md-flex flex-column justify-content-evenly">
  <div class="row">
    <div class="col-12">
      <h2 class="text-white">Woops.</h2>
      <p class="lead text-white mb-9">Looks like you've found a page that doesn't exist.</p>
      <p class="white"><a href="/" class="btn btn-lg btn-brand-gradient">Return Home</a></p>
      <!--
        <p class="lead">
          Alternatively, take a moment to ponder how you got here. Take a moment to really ponder. Notice
          the dark background of the error page shows you a reflection from the viewport. It is an imperfect reproduction.
          Realize this reflection is on every page you view. The reflection is you, but not you. The internet is us, but
          not us. What will you do with this? Where will you go now that you have found the error?
        </p>
      -->
    </div>
  </div>
</div>