---

title: sliders
layout: base.njk

---

<!-- latest work section -->
<section class="latest-work bg-primary">

    <!-- headline -->
    <a class="anchor" name="latest" id="latest"></a>
    <div class="headline">
        <div class="container">
            <div class=" row">
                <div class="col-12">
                    <h2 class="display-6 text-white mb-4">
                        Latest Work
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <!-- /headline -->
    <!-- content -->
    <div id="latestGrid" class="grid text-bg-info">

        <div class="grid-item medium"><img
                src="https://cdn.dribbble.com/users/4638003/screenshots/19343621/fluidabstractwave-dribbble_1x.png"
                class="img-fluid rounded-1" alt="${shot.title}"></div>
        <div class="grid-item large"><img
                src="https://cdn.dribbble.com/users/4638003/screenshots/19343621/fluidabstractwave-dribbble_1x.png"
                class="img-fluid" alt="${shot.title}"></div>
        <div class="grid-item medium"><img
                src="https://cdn.dribbble.com/users/4638003/screenshots/19343621/fluidabstractwave-dribbble_1x.png"
                class="img-fluid" alt="${shot.title}"></div>
        <div class="grid-item small"><img
                src="https://cdn.dribbble.com/users/4638003/screenshots/19343621/fluidabstractwave-dribbble_1x.png"
                class="img-fluid" alt="${shot.title}"></div>
        <div class="grid-item tall"><img
                src="https://cdn.dribbble.com/users/4638003/screenshots/19343621/fluidabstractwave-dribbble_1x.png"
                class="img-fluid" alt="${shot.title}"></div>
        <div class="grid-item wide"><img
                src="https://cdn.dribbble.com/users/4638003/screenshots/19343621/fluidabstractwave-dribbble_1x.png"
                class="img-fluid" alt="${shot.title}"></div>

        <div class="grid-item medium"><img
                src="https://cdn.dribbble.com/users/4638003/screenshots/19343621/fluidabstractwave-dribbble_1x.png"
                class="img-fluid" alt="${shot.title}"></div>
        <div class="grid-item large"><img
                src="https://cdn.dribbble.com/users/4638003/screenshots/19343621/fluidabstractwave-dribbble_1x.png"
                class="img-fluid" alt="${shot.title}"></div>
        <div class="grid-item medium"><img
                src="https://cdn.dribbble.com/users/4638003/screenshots/19343621/fluidabstractwave-dribbble_1x.png"
                class="img-fluid" alt="${shot.title}"></div>
        <div class="grid-item small"><img
                src="https://cdn.dribbble.com/users/4638003/screenshots/19343621/fluidabstractwave-dribbble_1x.png"
                class="img-fluid" alt="${shot.title}"></div>
        <div class="grid-item tall"><img
                src="https://cdn.dribbble.com/users/4638003/screenshots/19343621/fluidabstractwave-dribbble_1x.png"
                class="img-fluid" alt="${shot.title}"></div>
        <div class="grid-item wide"><img
                src="https://cdn.dribbble.com/users/4638003/screenshots/19343621/fluidabstractwave-dribbble_1x.png"
                class="img-fluid" alt="${shot.title}"></div>
    </div>
    <!-- /content -->

    <div class="view-link">
        <div class="container">
            <div class="row">
                <div class="col-12" id="viewMore">
                    <p class="text-end text-white mb-0 pb-0">View more posts <a href="#" target="_blank"
                            class="text-white">on dribbble.</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /latest work -->