---

layout: base.njk
title: Julia Czarnecki | Design | Code | Digital
desc: "I'm a digital designer and a front end developer. I love turning marketing goals into unique experiences that
engage and delight across a variety of platforms for IT SaaS and other highly technical companies."
image: "home-OG.jpg"
alt: "Collection of design portfolio items including emails, websites, ebooks and more"

---


<section class="intro-section bg-brand-gradient pt-8 px-0 pb-0">

	<!-- intro -->
	<div class="container intro p-8 text-white">
		<div class="row">
			<div class="col-12">
				<h1 class="display-1 text-center">Design for Humans.</h1>
				<p class="text-center lead mb-3 mx-auto">
					{{ desc }}
				</p>
			</div>
		</div>
	</div>
	<!-- /intro -->

	<!-- designs-->
	<div class="intro-designs container p-8">
		<a class="anchor" name="design" id="design"></a>
		<div class="row justify-content-center">

			{% for design in collections.design | sort(false, false, 'data.order') %}
			{% include "./_includes/_components/thumbnails.njk"%}
			{% endfor %}

		</div>
	</div>
	<!-- /designs -->


	<div class="intro-sploosh row p-0 m-0">
		<div class="col-12 p-0">
			<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1440 320">
				<path fill="#191a23" fill-opacity="1"
					d="M0,32L40,42.7C80,53,160,75,240,90.7C320,107,400,117,480,133.3C560,149,640,171,720,202.7C800,235,880,277,960,250.7C1040,224,1120,128,1200,80C1280,32,1360,32,1400,32L1440,32L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z">
				</path>
			</svg>
		</div>
	</div>
</section>

<!-- code section -->
{% include "./_includes/_components/code.njk" %}
<!-- /code section -->

<!-- about section -->
{% include "./_includes/_components/about.njk" %}
<!-- /about section -->

<!-- latest work section -->
{% include "./_includes/_components/jribbble.njk" %}
<!-- /latest work section -->

<!-- contact-->
<section class="bg-black">
	<a class="anchor" name="contact" id="contact"></a>
	<div class="container p-8">
		<div class="row">
			<div class="col-12">
				<h2 class="display-6 text-white mb-4">
					Contact Julia
				</h2>
				<p class="text-white mb-0">Looking for help with a project? Message me on <a
						rel="me noopener noreferrer" href="https://mastodon.world/@becausejulia" class="text-white"
						name="mastodon" target="_blank">Mastodon</a>.
				</p>
			</div>
		</div>

	</div>
</section>
<!-- /contact-->