---

title: testing
layout: base.njk

---

<!-- showcase -->
<section class="container">
    <div class="row">
        <div class="col-6">
            <!-- <img src="{{selected}}" class="img-fluid rounded-1" alt=""> -->
            <p>beep boop</p>
        </div>

    </div>
</section>
<!-- /showcase -->